<!DOCTYPE html><!-- ==========================================================================
	Nobody's perfect. Not even us. Once in a while something just doesn't work 
	how you would expect/want/need.
	
	The only way to improve is to indentify these ocassions and share them with 
	the people making the tools/resources. 
	{Unless your a Webmaker... then you try to remix and make first ;)} 

	With this in mind let us know what hasn't worked for you in the past. It 
	could be a problem with mentoring and an event, a project you worked on, 
	or a teaching kit.

	In the unlikely event that we are perfect then it turns out that this 
	project is the loose make!
============================================================================ --><html><head>
	<meta charset="utf-8">
	<!-- 
		This make is part of a survey!
		Please don't remove/change this metadata if you want your feedback to count.
	-->
	<meta content="https://webmaker.org/img/webmaker-404.png" name="webmaker:thumbnail">
	
	<!-- here's our little cheat to make the page match the webmaker 404: page not found -->
	<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,700" rel="stylesheet" type="text/css">
	<link href="https://webmaker.org/css/style.css" rel="stylesheet">
	<style>
		.error-container {
			font-weight: 300;
		}
	</style>

	<!-- Remix, Rename? -->
	<title>You found a loose thread!</title>
<base target="_blank">
</head>
<body>
	<div class="ui-wrapper ui-body">
		<div class="ui-poster error-container">
			<div class="error-code">
				<!-- change the image? Sad face maybe? -->
				<img class="error-img" src="https://webmaker.org/img/webmaker-404.png">
			</div>
			<div>
				<!-- what didn't we get right, what loose threads have you found? -->
				404: You found a loose thread!
			</div>
		</div>
	</div>

	<!--
		Next in the survey: https://fuzzyfox.makes.org/thimble/bing-bing-bing

		**Super Mega Bouns Points!**
		Change this page to look like another websites error page!
	-->

</body></html>